<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/estilo_practica4.css">
</head>
<body>
    <header>
        <div>
            <img src="../ASSETS/Img/paseo_japones.jpg" id="img_cabecera" alt="paseo japones" title="imagen de cabecera">
        </div>
        <nav>
            <a href="../T12_practica4.html">Inicio</a>
            <a href="../Views/enlaces1.html">Noticias</a>
            <a href="../Views/enlaces2.html">Información Cultural</a>
            <a href="../Views/enlaces3.html">Galeria</a>
            <a href="../Views/enlaces4.html">Formulario</a>
        </nav>

    </header>
    <section>
        <div id="div_seccion_noticias">
            <article>
                <header>
                    <h1>Noticias</h1>
                </header>
                <div id="img_izq">
                    <img src="../ASSETS/Img/TOKIO_CITY.jpg" alt="tokio city" title="tokio city">
                </div>
                <span>Japón es una potencia económica global, ocupando el tercer lugar en términos de Producto Interno Bruto (PIB) nominal, después de Estados Unidos y China. Es el hogar de algunas de las empresas más innovadoras y reconocidas del mundo, como Toyota, Sony y Nintendo. Además, el país ha hecho contribuciones significativas a la tecnología, la robótica y la industria del entretenimiento, destacándose en áreas como los videojuegos, el anime y el manga.</span>

                <section>
                    <div id="titulo_noticia1">
                        <h1>Ultima hora</h1>
                    </div>
                    <span>La gastronomía japonesa es mundialmente famosa por su enfoque en la frescura y la presentación. Platos como el sushi, el ramen y el tempura son emblemáticos de su cocina, que también enfatiza el equilibrio nutricional.<br> Además, la dieta japonesa, rica en pescado, arroz y vegetales, está asociada con la longevidad, siendo Japón uno de los países con mayor esperanza de vida.</span>
                </section>
            </article>
            <footer>
                <p>T12-practica 4- Maquetación Web y Diseño CSS</p>
            </footer>

        </div>
    </section>
</body>
</html>