<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/estilo_practica4.css">
</head>
<body>
    <header>
        <div>
            <img src="../ASSETS/Img/paseo_japones.jpg" id="img_cabecera" alt="paseo japones" title="imagen de cabecera">
        </div>
        <nav>
            <a href="../T12_practica4.html">Inicio</a>
            <a href="../Views/enlaces1.html">Noticias</a>
            <a href="../Views/enlaces2.html">Información Cultural</a>
            <a href="../Views/enlaces3.html">Galeria</a>
            <a href="../Views/enlaces4.html">Formulario</a>
        </nav>

    </header>
    <section>
        < id="div_informacion_cultural">
            <article>
                <header>
                    <h1>Información Cultural</h1>
                </header>
                <div id="img_cultural">
                    <img src="../ASSETS/Img/valle-de-la-muerte-Japón.jpg" alt="valle de la muerte" title="valle de la muerte">
                </div>
                <span>En términos de naturaleza, Japón ofrece una gran diversidad geográfica, desde montañas cubiertas de nieve, como el monte Fuji, hasta playas tropicales en Okinawa.<br> También es un país propenso a desastres naturales, como terremotos, tsunamis y tifones, debido a su ubicación en el Cinturón de Fuego del Pacífico. Sin embargo, los japoneses han desarrollado tecnologías y sistemas de prevención avanzados para mitigar estos riesgos.</span>
                <h1>Curiosidades</h1>
                <br>
                <span><strong>flores de cerezo y su impacto cultural</strong> 
                    Japón es famoso por los cerezos en flor (sakura), que florecen cada primavera. Aunque estas flores duran solo unos días, son un símbolo nacional de belleza efímera y renovación. Durante la floración, los japoneses celebran el Hanami, una tradición que consiste en contemplar las flores mientras se realizan picnics bajo los árboles. Este fenómeno no solo es culturalmente significativo, sino que también atrae a miles de turistas de todo el mundo. Además, la floración avanza de sur a norte, desde Okinawa en enero hasta Hokkaido en mayo, creando un "frente de floración" que los medios locales reportan como si fuera el clima.
                </span>
            </article>
            <footer>
                <p>T12-practica 4- Maquetación Web y Diseño CSS</p>
            </footer>

        </div>
    </section>
</body>
</html>