<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/estilo_practica4.css">
</head>
<body>
    <header>
        <div>
            <img src="../ASSETS/Img/paseo_japones.jpg" id="img_cabecera" alt="paseo japones" title="imagen de cabecera">
        </div>
    
        <nav>
            <a href="../T12_practica4.html">Inicio</a>
            <a href="../Views/enlaces1.html">Noticias</a>
            <a href="../Views/enlaces2.html">Información Cultural</a>
            <a href="../Views/enlaces3.html">Galeria</a>
            <a href="../Views/enlaces4.html">Formulario</a>
        </nav>
    </header>
    <div id="div_seccion_galeria">
        <header>
            <h1>Galeria</h1>
        </header>
        <div class="gallery">
            <div class="gallery-item"><img src="../ASSETS/Img/monte_fuyi.jpg" alt="Imagen 1"></div>
            <div class="gallery-item"><img src="../ASSETS/Img/Cabecera_practica4.jpeg" alt="Imagen 2"></div>
            <div class="gallery-item"><img src="../ASSETS/Img/descarga.jpg" alt="Imagen 3"></div>
            <div class="gallery-item"><img src="../ASSETS/Img/imag.jpg" alt="Imagen 4"></div>
            <div class="gallery-item"><img src="../ASSETS/Img/Biodiversidad natural.jpg" alt="Imagen 5"></div>
            <div class="gallery-item"><img src="../ASSETS/Img/descarga (1).jpg" alt="Imagen 6"></div>
        </div>
        <footer>
            <p>T12-practica 4- Maquetación Web y Diseño CSS</p>
        </footer>
    </div>
</body>
</html>