<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa de Ubicación</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <style>
        #map {
            width: 60%;
            height: 400px;
        }
        article {
            width: 100%;
            margin: 0 auto;
            
        }
    </style>
</head>
<body>
    <header id="logotipo">
        <img src="../Assets/img/logo.png" alt="Logotipo">
    </header>

    <nav id="menu">
        <ul>
            <li><a href="../index.html">INICIO</a></li>
            <li><a href="../Views/contacto.html">CONTACTO</a></li>
            <li><a href="../Views/presupuesto.html">PRESUPUESTO</a></li>
            <li><a href="../Views/productos.html">PRODUCTOS</a></li>
        </ul>

    <h2>Ubicación de Nuestra Empresa</h2>
    <div id="map"></div>
    <article>
        <h3>Información de Contacto</h3>
        <p>Correo:patoconsultas@gmail.com</p>

    <script>
        var map = L.map('map').setView([40.712776, -74.005974], 15); // Cambia las coordenadas
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);
        L.marker([40.712776, -74.005974]).addTo(map) // Cambia coordenadas
            .bindPopup("Nuestra Empresa")
            .openPopup();
    </script>

<footer>
    <div class="social-links">
        <a href="https://www.facebook.com/TU_PAGINA" target="_blank">
            <img src="../Assets/img/icons8-facebook-30.png" alt="Facebook">
        </a>
        <a href="https://www.twitter.com/TU_CUENTA" target="_blank">
            <img src="../Assets/img/icons8-twitter-30.png" alt="Twitter">
        </a>
        <a href="https://www.instagram.com/TU_CUENTA" target="_blank">
            <img src="../Assets/img/icons8-instagram-logo-30.png" alt="Instagram">
        </a>
        <a href="https://www.linkedin.com/in/TU_PERFIL" target="_blank">
            <img src="../Assets/img/icons8-linkedin-30.png" alt="LinkedIn">
        </a>
    </div>
    <p>© 2020 PATO. Todos los derechos reservados.</p>
</footer>

</body>
</html>
